@import "variables";
@import "normalize";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

section.first_section {
  background: url("../images/bg_section1.jpg") no-repeat center;
  background-size: cover;
  .container header {
    padding: 40px 0 0;
    .cart {
      position: absolute;
      top: 60px;
      right: 426px;
      width: 20px;
      height: 20px;
      fill: white;
      &:hover {
        fill: rgb(199,178,153);
        cursor: pointer;
      }
    }
    .search {
      position: absolute;
      top: 60px;
      right: 375px;
      width: 20px;
      height: 20px;
      &:hover {
        cursor: pointer;
      }
    }
    .logo {
      float: left;
      margin-left: 376px;
      transition: 0.5s;
      &:hover {
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        .shp0 {
          filter: none;
          fill: rgb(199,178,153);
        }
        .txt1 {
          fill: rgb(199,178,153);
        }
      }
    }
    .logo_for_media {
      display: none;
      float: left;
      margin-left: 376px;
      transition: 0.5s;
      &:hover {
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        .shp0 {
          filter: none;
          fill: rgb(199,178,153);
        }
        .txt1 {
          fill: rgb(199,178,153);
        }
      }
    }
  }
  .content .slider .general_container {
    padding-top: 280px;
    padding-bottom: 380px;
    outline: none;
    h2 {
      font-size: 36px;
      color: rgb(255,255,255);
      font-family: $font-releway;
      text-align: center;
      padding-bottom: 0;
    }
    h1 {
      font-size: 52px;
      color: rgb(255,255,255);
      font-family: $font-releway;
      font-weight: 800;
      text-align: center;
      padding-bottom: 12px;
    }
    p {
      width: 575px;
      font-size: 16px;
      line-height: 24px;
      color: rgb(255,255,255);
      font-family: $font-montserrat;
      font-weight: 300;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 50px;
    }
    .get_started {
      font-size: 14px;
      line-height: 23px;
      font-family: $font-releway;
      font-weight: 800;
      text-align: center;
      width: 189px;
      margin: 0 auto;
      button {
        border-radius: 3px;
        color: rgb(255, 255, 255);
        background-color: #988574;
        outline: none;
        padding: 16px 39px;
        border: 0;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
          color: #988574;
          background-color: rgb(255, 255, 255);
        }
      }
    }
  }
}
//-------------------------------------------------style fixed scroll top-----------------------------
.scrollup{
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:50px;
  right:40px;
  display:none;
  background: url('../images/icon_top.png') no-repeat;
  &:hover {
    opacity: 0.6;
  }
}
//-------------------------------------------------style menu-----------------------------
.menu {
  text-align: right;
}

.menu__links {
   margin-right: 484px;
}

menu menu_state_open {
  margin-bottom: 10px;
}

.menu__icon {
  display: none;
  width: 50px;
  height: 35px;
  position: relative;
  cursor: pointer;
  top: 14px;
  right: 50px;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(255,255,255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
}

.menu__links-item {
  display: inline-block;
  font-size: 14px;
  color: rgb(255,255,255);
  font-family: $font-montserrat;
  font-weight: 300;
  text-align: right;
  padding: 20px 0;
  margin-right: 23px;
  text-decoration: none;
}

.menu__links-item:hover {
  color: rgb(199,178,153);
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;
}
//-------------------------------------------------style search icon-----------------------------
.box {
  height: 20px;
}
.container-2{
  width: 20px;
  height: 20px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-2 input#search{
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  font-size: 14px;
  color: rgb(255,255,255);
  font-family: $font-montserrat;
  font-weight: 300;
  float: left;
  padding-left: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}
.container-2 input#search::-webkit-input-placeholder {
  color: #988574;
}

.container-2 input#search:-moz-placeholder { /* Firefox 18- */
  color: #988574;
}

.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #988574;
}

.container-2 input#search:-ms-input-placeholder {
  color: #988574;
}
.container-2 .icon{
  position: absolute;
  z-index: 1;
  color: #fff;
  width: 20px;
  height: 20px;
}
.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 100px;
}

.container-2:hover input#search{
  width: 100px;
}

.container-2:hover .icon{
  color: #988574;
}
//-------------------------------------------------style slider-----------------------------
//-------------------------------------------------arrows-----------------------------------
.prev {
  position: absolute;
  z-index: 1;
  left: 150px;
  top: 375px;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    transform: scale(1.3, 1.3);
  }
}

.next {
  position: absolute;
  right: 150px;
  top: 374px;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    transform: scale(1.3, 1.3);
  }
}
//-------------------------------------------------dots-----------------------------------
.my-dots {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  bottom: 38px;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 0;
  cursor: pointer;
}

.my-dots li {
  margin: 0 5px ;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}

.my-dots li button:before {
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  text-align: center;
  border-radius: 50%;
  content: ' ';
  border: 1px solid  #939190;
  background: #939190;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 1px #939190;
}

.my-dots li.slick-active button:before {
  opacity: .75;
  color: transparent;
  text-shadow: 1px 1px 0 #d3c1ad,
  -1px -1px 0 #d3c1ad, 1px -1px 0 #d3c1ad, -1px 1px 0 #d3c1ad, 1px 1px 0 #d3c1ad;
  content: '';
  width: 11px;
  height: 11px;
  border: 2px solid #d3c1ad;
  border-radius: 7px;
  margin-right:  9px;
  background-color: rgba(255,255,255,0);
  top: -2px;
}

.my-dots li.slick-active{
  margin-right:  11px;
}
//-------------------------------------------------logo animation-----------------------------------
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
//-------------------------------------------------second section Services-----------------------------
section.second_section {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 65px;
    padding-bottom: 115px;
    .col1 {
      width: 271px;
      .pencil {
        .shp0 {
          filter: none;
          fill: rgb(85, 85, 85);
        }
        width: 50px;
        height: 50px;
        margin: 21px auto 0;
      }
      h3 {
        padding-top: 23px;
        padding-bottom: 12px;
        font-size: 22px;
        color: rgb(85, 85, 85);
        font-family: $font-releway;
        font-weight: bold;
        text-align: center;
      }
      p {
        width: 270px;
        font-size: 14px;
        line-height: 24px;
        color: rgb(140,140,140);
        font-family: $font-montserrat;
        font-weight: 300;
        margin: 0 auto;
        text-align: center;
      }
    }
    .col2 {
      width: 274px;
      .layer {
        .shp0 {
          filter: none;
          fill: rgb(85, 85, 85);
        }
        width: 50px;
        height: 50px;
        margin: 0 auto;
        margin-top: 21px;
      }
      h3 {
        padding-top: 23px;
        padding-bottom: 12px;
        font-size: 22px;
        color: rgb(85, 85, 85);
        font-family: $font-releway;
        font-weight: bold;
        text-align: center;
      }
      p {
        width: 270px;
        font-size: 14px;
        line-height: 24px;
        color: rgb(140, 140, 140);
        font-family: $font-montserrat;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
      }
    }
    .col3 {
      width: 271px;
      .settings {
        .shp0 {
          filter: none;
          fill: rgb(85, 85, 85);
        }
        width: 50px;
        height: 50px;
        margin: 21px auto 0;
      }
      h3 {
        padding-top: 23px;
        padding-bottom: 12px;
        font-size: 22px;
        color: rgb(85, 85, 85);
        font-family: $font-releway;
        font-weight: bold;
        text-align: center;
      }
      p {
        width: 270px;
        font-size: 14px;
        line-height: 24px;
        color: rgb(140, 140, 140);
        font-family: $font-montserrat;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
      }
    }
    .col4 {
      width: 271px;
      .folder {
        .shp0 {
          filter: none;
          fill: rgb(85, 85, 85);
        }
        width: 50px;
        height: 50px;
        margin: 21px auto 0;
      }
      h3 {
        padding-top: 23px;
        padding-bottom: 12px;
        font-size: 22px;
        color: rgb(85, 85, 85);
        font-family: $font-releway;
        font-weight: bold;
        text-align: center;
      }
      p {
        width: 270px;
        font-size: 14px;
        line-height: 24px;
        color: rgb(140, 140, 140);
        font-family: $font-montserrat;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}

section.second_section .after:after {
    position: absolute;
    bottom: -30px;
    right: 100px;
    content: "";
    width: 70px;
    height: 3px;
    background:  #f1ede9;
}

.after {
  position: relative;
}

section.second_section {
  .container {
    .col2, .col3, .col4 {
      margin-left: 30px;
    }
  }
}

section.second_section {
  .col1:hover, .col2:hover, .col3:hover, .col4:hover {
    cursor: pointer;
      .pencil, .layer, .settings, .folder {
        .shp0 {
        fill: rgb(199, 178, 153);
        }
      }
    h3 {
      color: rgb(199,178,153);
    }
    .after:after {
      background: rgb(199,178,153);
    }
  }
}

.for_media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
//-------------------------------------------------third section Waxom is Realization of your Ideas.--------------------
#for_media_image, #for_media_image480 {
    display: none;
}
section.third_section .container {
  background-color: #fbf9f7;
  padding-top: 73px;
  h2 {
    padding-bottom: 17px;
    font-size: 30px;
    color: rgb(85,85,85);
    font-family: $font-releway;
    font-weight: bold;
    text-align: center;
  }
  p {
    padding-bottom: 35px;
    width: 770px;
    font-size: 16px;
    line-height: 28px;
    color: rgb(140,140,140);
    font-family: $font-montserrat;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
  }
}
//----------------------------------------------fourth section Waxom Multipurpose WordPress Theme-----------------------
section.fourth_section .container {
  background-image: linear-gradient(90deg, #211b19 0%, #4e3326 100%);
  padding: 48px 60px;
  .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h2 {
      font-size: 28px;
      color: #fff;
      font-family: $font-releway;
      padding-bottom: 3px;
      margin-top: -4px;
    }
    p {
      font-size: 18px;
      color: rgb(97, 88, 85);
      font-family: $font-montserrat;
      font-weight: 300;
    }
    .purchase_now {
      font-size: 14px;
      line-height: 23px;
      color: rgb(255, 255, 255);
      font-family: $font-releway;
      font-weight: 800;
      text-align: center;
      padding-left: 465px;
      button {
        margin-top: 3px;
        width: 170px;
        border-radius: 3px;
        background-color: #988574;
        color: rgb(255, 255, 255);
        outline: none;
        padding: 13px 20px;
        border: 0;
        text-transform: uppercase;
        a {
          color: rgb(255, 255, 255);
        }
        &:hover {
          cursor: pointer;
          color: #988574;
          background-color: rgb(255, 255, 255);
          a {
            color: #988574;
          }
        }
      }
    }
  }
}
#colortext {
  color: #c7b299;
}
//-------------------------------------------------fifth section Our Latest Projects.-----------------------------
section.fifth_section .container {
  padding-top: 77px;
  margin-bottom: 86px;
  h2 {
    padding-bottom: 16px;
    font-size: 30px;
    color: rgb(85,85,85);
    font-family: $font-releway;
    font-weight: bold;
    text-align: center;
  }
  p {
    padding-bottom: 29px;
    width: 770px;
    font-size: 16px;
    line-height: 28px;
    color: rgb(140,140,140);
    font-family: $font-montserrat;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
  }
}

.all_isotop_container {
  padding-bottom: 45px;
  ul {
    text-align: center;
    margin-bottom: 30px;
    li {
      display: inline-block;
      margin-right: 13px;
      border-radius: 3px;
      background-color: rgba(17, 17, 17, 0);
      border: 1px solid #ebebeb;
      font-size: 14px;
      line-height: 21px;
      color: rgb(140, 140, 140);
      font-family: $font-montserrat;
      font-weight: 300;
      text-align: center;
      padding: 10px 15px;
      a {
        color: rgb(70, 70, 70);
        outline: none;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: #998575;
        cursor: pointer;
        a {
          color: white;
        }
      }
    }
  }
}

.isotop_container {
    max-width: 1170px;
    margin: 0 auto;
  .img-wrapper {
    .bg_isotope {
      background-color: #fbf9f7;
      padding-left: 30px;
    }
    h4 {
      padding-top: 23px;
      padding-bottom: 4px;
      font-size: 20px;
      color: rgb(199,178,153);
      font-family: $font-releway;
    }
    h5 {
      padding-bottom: 30px;
      font-size: 14px;
      line-height: 20px;
      color: rgb(209,209,209);
      font-family: $font-montserrat;
      font-weight: 300;
    }
  }
}

.img_isotope {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: -1px;
    border: 13px solid transparent;
    border-bottom: 10px solid #fbf9f7;
  }
}

.img-wrapper {
  padding: 5px;
  &:hover {
    .img_isotope {
      &:after {
        border-bottom: 10px solid #352f2d;
      }
      .hov {
        display: block;
      }
    }
    cursor: pointer;
    .bg_isotope {
      background-color: #352f2d;
      h4 {
        color: rgb(255,255,255);
      }
      h5 {
        color: rgb(199,178,153);
      }
    }
  }
}

.img-wrapper {
  width: 33%;
  .img_isotope{
    position: relative;
    img {
      width: 100%;
    }
    .hov{
      display: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(87, 87, 86, 0.6);
      position: absolute;
    }
  }
  .bg_isotope {
    background-color: #fbf9f7;
    padding-left: 30px;
  }
  h4 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    color: rgb(199,178,153);
    font-family: $font-releway;
  }
  h5 {
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(209,209,209);
    font-family: $font-montserrat;
    font-weight: 300;
  }
}

.img-wrapper {
  padding: 5px;
  &:hover {
    .color {
      .shp0 {
        filter: none;
        fill: #c7b299;;
      }
    }
    .img_isotope {
      &:after {
        border-bottom: 10px solid #352f2d;
      }
      .hov {
        display: block;
      }
    }
  }
}

.img {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 40%;
}

.gap {
  margin-left: 45px;
}

//-------------------------------------------------sixth section Waxom Video Presentation-----------------------------
section.sixth_section {
  background: url("../images/bg_section4.jpg") no-repeat center;
  background-size: cover;
  .container {
    .play_video {
      padding-top: 150px;
      padding-bottom: 150px;
      img:hover {
        cursor: pointer;
        opacity: 0.7;
      }
      h2 {
        padding-bottom: 15px;
        padding-top: 40px;
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-family: $font-releway;
        text-align: center;
      }
      p {
        padding-bottom: 27px;
        width: 571px;
        font-size: 16px;
        line-height: 28px;
        color: rgb(255, 255, 255);
        font-family: $font-montserrat;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
      }
      h6 {
        font-size: 14px;
        line-height: 24px;
        color: rgb(199, 178, 153);
        font-family: $font-montserrat;
        text-align: center;
      }
    }
  }
}

iframe {
  display: none;
  height: 70vh;
}
//-------------------------------------------------seventh section Excellent for Mobile Devices.------------------------
section.seventh_section {
  background-color: #fbf9f7;
  .container {
    padding-top: 79px;
    display: flex;
    justify-content: center;
    .iphone_in_hand {
      margin-left: 55px;
    }
    .content {
      padding-top: 111px;
      margin-left: 33px;
      h2 {
        padding-bottom: 26px;
        font-size: 30px;
        color: rgb(85,85,85);
        font-family: $font-releway;
        font-weight: bold;
      }
      p {
        padding-bottom: 29px;
        width: 675px;
        font-size: 16px;
        line-height: 28px;
        color: rgb(140,140,140);
        font-family: $font-montserrat;
        font-weight: 300;
      }
      .arrow {
        padding-left: 47px;
        .flex1, .flex2, .flex3, .flex4 {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          img {
            margin: 0;
            &:hover {
              cursor: pointer;
              opacity: 0.7;
              transform: scale(1.2);
            }
          }
          h6 {
            padding-left: 30px;
            font-size: 16px;
            line-height: 32px;
            color: rgb(140, 140, 140);
            font-family: $font-montserrat;
            font-weight: 300;
          }
          img {
            width: 21px;
            height: 21px;
          }
        }
      }
    }
  }
}
//-------------------------------------------------eighth section Counters-----------------------------
section.eighth_section {
  background-image: linear-gradient(90deg, #211b19 0%, #4e3326 100%);
  .container {
    padding-top: 58px;
    padding-bottom: 80px;
    .wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      h1 {
        padding-top: 29px;
        padding-bottom: 7px;
        font-size: 48px;
        color: rgb(255,255,255);
        font-family: $font-montserrat;
        font-weight: 300;
        text-align: center;
      }
      h6 {
        font-size: 14px;
        line-height: 20px;
        color: rgb(199,178,153);
        font-family: $font-montserrat;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

.wrapper_section_eighth1,
.wrapper_section_eighth2,
.wrapper_section_eighth3,
.wrapper_section_eighth4,
.wrapper_section_eighth5 {
  width: 137px;
  margin-left: 63px;
  .svg {
    padding-top: 12px;
    margin: 0 auto;
    height: 44px;
    width: 44px;
    .shp0 {
      filter: none;
      fill: #c7b299;
    }
  }
}

.wrapper_section_eighth1 {
  margin-left: 0;
}
.after1 {
  position: relative;
  &:after {
    position: absolute;
    bottom: -23px;
    right: 55px;
    content: "";
    width: 30px;
    height: 2px;
    background:  #f1ede9;
  }
}
//-------------------------------------------------ninth section Recent Posts.-----------------------------
section.ninth_section {
  .container {
    padding-top: 80px;
    padding-bottom: 116px;
    .wrapper9 {
      h2 {
        padding-bottom: 15px;
        font-size: 30px;
        color: rgb(85,85,85);
        font-family: $font-releway;
        font-weight: bold;
        text-align: center;
      }
      p {
        padding-bottom: 35px;
        width: 770px;
        font-size: 16px;
        line-height: 28px;
        color: rgb(140,140,140);
        font-family: $font-montserrat;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
      }
    }
    .page1 {
      h3 {
        padding-top: 26px;
        padding-bottom: 10px;
        width: 312px;
        font-size: 20px;
        color: rgb(85,85,85);
        font-family: $font-releway;
      }
      p {
        width: 311px;
        font-size: 14px;
        line-height: 22px;
        color: rgb(140,140,140);
        font-family: $font-montserrat;
        font-weight: 300;
      }
      h6 {
        padding-top: 20px;
        padding-bottom: 30px;
        font-size: 14px;
        color: rgb(199,178,153);
        font-family: $font-montserrat;
        font-weight: 300;
      }
      .text_content {
        padding-left: 28px;
        border: 1px solid #f7f7f7;
        margin-bottom: 25px;
      }
    }
  }
}

.page1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .page1_2, .page1_3 {
    padding-left: 30px;
  }
}

.img_relative {
  position: relative;
  .hov{
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(87, 87, 86, 0.7);
    position: absolute;
  }
  .hov1 {
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(199, 177, 153, 0.4);
  position: absolute;
}
  &:hover {
    .hov, .hov1 {
      display: block;
    }
    cursor: pointer;
  }
}

.img_absolute {
  position: absolute;
  right: 296px;
  bottom: 145px;
}

section.ninth_section {
  .container {
    .page1 {
      .read_more {
        position: relative;
        display: inline-block;
        &:after {
          content: '';
          position: absolute;
          z-index: 1;
          left: 82px;
          bottom: 32px;
          border: 5px solid transparent;
          border-left: 8px solid #c7b199;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
      .read_more2 {
        position: relative;
        display: inline-block;
        &:after {
          content: '';
          position: absolute;
          z-index: 1;
          left: 82px;
          bottom: 32px;
          border: 5px solid transparent;
          border-left: 8px solid #c7b199;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
  }
}

.read_more2:after {
  border-top: 8px solid #c7b199;
}

.block, .block2, .block3 {
  display: none;
  p:first-child {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  p:last-child {
    padding-bottom: 5px;
  }
}
//-------------------------------------------------tenth section Partners-----------------------------
section.tenth_section {
  background: url("../images/bg_section8.jpg") no-repeat center;
  background-size: cover;
  .container {
    padding-top: 142px;
    padding-bottom: 143px;
    .all_partners {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .partners2, .partners3, .partners4 {
        padding-left: 90px;
      }
      .partners1, .partners2, .partners3, .partners4 {
        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
  }
}
.partners1 {
  padding-top: 40px;
}
.partner2 {
  padding-top: 40px;
}
.partners3 {
  padding-top: 40px;
}
.partners4 {
  padding-top: 25px;
}
//-------------------------------------------------eleventh section Before footer-----------------------------
section.eleventh_section {
  background-color: #191919;
  .container {
    padding-top: 100px;
    padding-bottom: 80px;
    .general_wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      p {
        width: 270px;
        font-size: 14px;
        line-height: 20px;
        color: rgb(85,85,85);
        font-family: $font-montserrat;
        font-weight: 300;
      }
      h5 {
        font-size: 14px;
        line-height: 20px;
        color: rgb(209,209,209);
        font-family: $font-montserrat;
      }
      h6 {
        font-size: 12px;
        line-height: 20px;
        color: rgb(54,54,54);
        font-family: $font-montserrat;
        font-weight: 300;
      }
      h3 {
        font-size: 24px;
        color: rgb(255,255,255);
        font-family: $font-releway;
        font-weight: bold;
      }
    }
  }
}

.wrapper11_2, .wrapper11_3, .wrapper11_4 {
  padding-left: 30px;
}

.logo_11section {
  padding-bottom: 20px;
  margin-top: -25px;
  &:hover {
    cursor: pointer;
  }
}

.line {
  border-bottom: 1px solid rgb(85,85,85);
  padding-bottom: 15px;
}

section.eleventh_section {
  .container {
    .general_wrapper {
      .wrapper11_1 {
        p {
          padding-bottom: 23px;
          line-height: 24px;
        }
      }
      .wrapper11_2 {
        h3 {
          padding-bottom: 14px;
        }

        h6 {
          padding-bottom: 7px;
          padding-top: 10px;
        }

        .hover_text3,.hover_text2, .hover_text1 {
          &:hover {
            cursor: pointer;
            h6 {
              color: rgb(255,255,255);
            }
            p{
              color: rgb(199,178,153);
            }
          }
        }
      }
      .wrapper11_3 {
        h3 {
          padding-bottom: 19px;
        }
        h6 {
          padding-top: 10px;
        }
        .hover_text3,.hover_text2, .hover_text1 {
          &:hover {
            cursor: pointer;
            h6 {
              color: rgb(255,255,255);
            }
            p{
              color: rgb(199,178,153);
            }
          }
        }
      }
      .wrapper11_4 {
        h3 {
          padding-bottom: 30px;
        }
      }
    }
  }
}

.padding_top {
  padding-top: 15px;
}

section.eleventh_section {
  .container {
    .general_wrapper {
      .wrapper11_1 {
        .read_more11 {
          h5 {
            color: #d1d1d1;
          }
          position: relative;
          display: inline-block;
          &:after {
            content: '';
            position: absolute;
            z-index: 1;
            left: 88px;
            bottom: 4px;
            border: 5px solid transparent;
            border-left: 8px solid #d1d1d1;
          }
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.other_color_text {
  color: #00bff3;
  &:hover {
    cursor: pointer;
  }
}

.other_color_text2 {
  color: #959595;
  &:hover {
    cursor: pointer;
  }
}

.hidden {
  display: none;
}
//-------------------------------------------------footer-----------------------------
footer {
  background-color: #101010;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 41px 370px 50px 374px;
    font-size: 13px;
      line-height: 20px;
      color: rgb(85,85,85);
      font-family: $font-montserrat;
      font-weight: 300;
      a {
        color: rgb(85,85,85);
      }
      a:hover {
        cursor: pointer;
      }
    .left {
     display: flex;
     justify-content: flex-start;
      h4:first-child {
        padding-right: 5px;
      }
      h4:nth-child(2){
        border-right: 1px solid rgb(85,85,85);
        padding-right: 10px;
        &:hover a{
          color: #6a6a6a;
          a {
            color: #6a6a6a;
          }
        }
      }
      h4:nth-child(3), h4:nth-child(4), h4:nth-child(5)  {
        border-right: 1px solid rgb(85,85,85);
        margin-left: 10px;
        padding-right: 12px;
        &:hover a{
          color: #6c6155;
          a {
            color: #6c6155;
          }
        }
      }
      h4:nth-child(5) {
        border-right: none;
        padding-right: 0;
      }
     }
    .right {
      display: flex;
      justify-content: flex-end;
      h4:first-child {
        padding-right: 5px;
      }
      h4:nth-child(2),  h4:nth-child(4) {
        &:hover {
          color: #696969;
          a {
            color: #696969;
          }
        }
      }
      h4:nth-child(2) {
        border-right: 1px solid rgb(85,85,85);
        padding-right: 10px;
      }
      h4:nth-child(3) {
        padding-right: 5px;
        margin-left: 10px;
      }
    }
  }
}
//-------------------------------------------------media requests-----------------------------
@media (max-width: 1730px) {
  section.first_section {
    .container header {
      .logo {
        margin-left: 100px;
      }
      .cart {
        right: 150px;
      }
      .search {
        right: 100px;
      }
    }
  }
  .menu__links {
    margin-right: 250px;
  }
  footer {
    background-color: #101010;
    .container {
      padding: 41px 100px 50px 100px;

    }
  }
}

@media (max-width: 1230px) {
  .third_section{
    .container {
      #main_image {
        display: none;
      }
    }
  }
  .third_section {
    .container {
      #for_media_image {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media all and (min-width: 1028px){
  .menu__links {
    display: block !important;
  }
}

@media screen and (max-width: 1027px) {
  .menu__icon{
    display: inline-block;
  }
  .menu__links {
    position: relative;
    width: 100%;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(65, 65, 64, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  .menu__links {
    transform: translateX(-50%);
    margin-left: 50%;
  }
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: rgb(255,255,255);
  }
}

@media (max-width: 1176px) {
  section.second_section {
    .container {
      padding-top: 50px;
      .col1, .col2, .col3, .col4 {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 1200px) {
  section.first_section {
    .container header {
      .logo {
        margin-left: 30px;
      }
      .cart {
        right: 110px;
      }
      .search {
        right: 80px;
      }
    }
  }
  .menu__links {
    margin-right: 105px;
  }
  section.second_section {
    .container {
      padding-top: 50px;
      .col1, .col2, .col3, .col4 {
        margin-top: 15px;
      }
    }
  }
  section.fourth_section .container .wrapper .purchase_now {
    padding-left: 250px;
  }
  section.seventh_section {
    .container {
      padding-top: 79px;
      padding-bottom: 79px;
      flex-wrap: wrap;
      .iphone_in_hand {
        margin-left: 0;
      }
      .content {
        margin-left: 0;
        padding-top: 15px;
      }
    }
  }
  section.eighth_section {
    .container {
      padding-top: 38px;
      .wrapper_section_eighth1,
      .wrapper_section_eighth2,
      .wrapper_section_eighth3,
      .wrapper_section_eighth4,
      .wrapper_section_eighth5 {
        margin-top: 20px;
      }
    }
  }
  section.eleventh_section {
    .container {
      padding-top: 85px;
      .wrapper11_1, .wrapper11_2, .wrapper11_3, .wrapper11_4 {
        margin-top: 15px;
      }
    }
  }
}

@media (max-width: 1109px) {
  section.tenth_section .container {
    .for_media {
      flex-direction: column;
    }
    .all_partners .partners1, .all_partners .partners2 {
      padding-left: 0;
    }
    .all_partners .partners1, .all_partners .partners3 {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 1024px) {
  section.first_section {
    .container header {
      .logo {
        margin-left: 150px;
      }
      .cart {
        right: 210px;
      }
      .search {
        right: 170px;
      }
    }
  }
  section.second_section .container .col3 {
    margin-left: 0;
    margin-top: 20px;
  }
  section.eleventh_section .container .wrapper11_3 {
    padding-left: 5px;
    margin-top: 20px;
  }
}

@media (max-width: 860px) {
  .third_section{
    .container {
      #main_image {
        display: none;
      }
    }
  }
  .third_section {
    .container {
      #for_media_image {
        display: none;
      }
    }
  }
  .third_section {
    .container {
      #for_media_image480 {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1070px) {
  section.fourth_section .container .wrapper .purchase_now {
    padding-left: 100px;
  }
}

@media (max-width: 980px) {
  section.seventh_section {
    .container {
      .iphone_in_hand {
        display: none;
      }
    }
  }
}

@media (max-width: 915px) {
  section.fourth_section .container .wrapper .purchase_now button {
    margin-top: 15px;
  }
}

@media (max-width: 929px) {
  footer .container {
    justify-content: center;
    .right {
      margin-top: 15px;
    }
  }
}

@media (max-width: 765px) {
  .page1 {
    .page1_1, .page1_2, .page1_3 {
      padding-left: 10px;
    }
  }
}

@media (max-width: 755px) {
  .page1 {
    .page1_1, .page1_2, .page1_3 {
      padding-left: 5px;
    }
  }
}

@media (max-width: 735px) {
  .page1 {
    .page1_1, .page1_2, .page1_3 {
      padding-left: 0;
    }
  }
}

@media (max-width: 768px) {
  section.first_section {
    .content .slider .general_container {
      h2 {
        font-size: 21px;
      }
      h1 {
        font-size: 37px;
      }
      p {
        width: 555px;
        font-size: 16px;
      }
      .get_started {
        font-size: 12px;
        button {
          padding: 12px 0;
          width: 135px;
        }
      }
    }
  }
  section.third_section {
    display: none;
  }
  section.fourth_section .container .wrapper {
    text-align: center;
    h2 {
      font-size: 21px;
    }
    p {
      width: 555px;
    }
    .purchase_now {
      font-size: 12px;
      padding-left: 0;
      button {
        padding: 12px 0;
        width: 135px;
        transform: translateX(-50%);
        margin-left: 50%;
      }
    }
  }
  section.fifth_section .container {
    h2 {
      font-size: 21px;
    }
    p {
      width: 555px;
    }
    .load_more {
      font-size: 12px;
      button {
        width: 135px;
        padding: 12px 0;
      }
    }
  }
  section.sixth_section .container .play_video {
    h2 {
      font-size: 21px;
    }
    p {
      width: 555px;
    }
  }
  section.seventh_section .container .content {
    h2 {
      font-size: 21px;
    }
    p {
      width: 555px;
    }
    .arrow {
      padding-left: 0;
    }
  }
  section.ninth_section .container .wrapper9 {
    h2 {
      font-size: 21px;
    }
    p {
      width: 555px;
    }
  }
}

@media (max-width: 590px) {
  section.first_section {
    .container header {
      .logo {
        display: none;
      }
      .logo_for_media {
        display: block;
        float: left;
        margin-left: 100px;
        transition: 0.5s;
        .shp0 {
          filter: none;
          fill: #ffffff;
        }
        &:hover {
          -webkit-animation: swing 1s ease;
          animation: swing 1s ease;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
          .shp0 {
            filter: none;
            fill: rgb(199, 178, 153);
          }
        }
      }
    }
  }
  section.seventh_section {
    display: none;
  }
  section.eighth_section {
    .container {
      .wrapper_section_eighth1,
      .wrapper_section_eighth2,
      .wrapper_section_eighth3,
      .wrapper_section_eighth4,
      .wrapper_section_eighth5 {
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 601px) {
  footer .container {
    padding: 41px 30px 50px 30px;
  }
}

@media (max-width: 560px) {
  section.eleventh_section .container {
    .wrapper11_1, .wrapper11_2, .wrapper11_3, .wrapper11_4 {
      padding-left: 0;
    }
  }
}

@media (max-width: 555px) {
  section.first_section {
    .content .slider .general_container {
      h2 {
        font-size: 16px;
      }
      h1 {
        font-size: 28px;
      }
      p {
        width: 480px;
        font-size: 13px;
      }
      .get_started {
        font-size: 10px;
        button {
          padding: 10px 0;
          width: 110px;
        }
      }
    }
  }
  section.third_section {
    display: none;
  }
  section.fourth_section .container .wrapper {
    text-align: center;
    h2 {
      font-size: 16px;
    }
    p {
      width: 480px;
      font-size: 13px;
    }
    .purchase_now {
      font-size: 10px;
      padding-left: 0;
      button {
        padding: 10px 0;
        width: 110px;
        transform: translateX(-50%);
        margin-left: 50%;
      }
    }
  }
  section.fifth_section .container {
    .isotop_container .img-wrapper {
      h4 {
        font-size: 15px;
      }
      h5 {
        font-size: 12px;
      }
    }
    h2 {
      font-size: 16px;
    }
    p {
      width: 480px;
      font-size: 13px;
    }
    .load_more {
      font-size: 10px;
      button {
        width: 110px;
        padding: 10px 0;
      }
    }
  }
  section.sixth_section .container .play_video {
    h2 {
      font-size: 16px;
    }
    p {
      width: 480px;
      font-size: 13px;
    }
  }
  section.seventh_section .container .content {
    h2 {
      font-size: 16px;
    }
    p {
      width: 480px;
      font-size: 13px;
    }
    .arrow {
      padding-left: 0;
    }
  }
  section.eighth_section .container .wrapper_section_eighth1,
  section.eighth_section .container .wrapper_section_eighth2,
  section.eighth_section .container .wrapper_section_eighth3,
  section.eighth_section .container .wrapper_section_eighth4,
  section.eighth_section .container .wrapper_section_eighth5 {
    margin-left: 10px;
  }
  section.ninth_section .container .wrapper9 {
    h2 {
      font-size: 16px;
    }
    p {
      width: 480px;
      font-size: 13px;
    }
  }
}

@media (max-width: 510px) {
  section.tenth_section .container .all_partners{
    flex-direction: column;
    .partners3 {
      padding-top: 25px;
      padding-left: 0;
      }
    .partners4 {
      padding-left: 0;
    }
  }
}

@media (max-width: 480px) {
  section.second_section .container {
    .col1 h3, .col2 h3, .col3 h3, .col4 h3 {
      font-size: 16px;
    }
    .col1 p, .col2 p, .col3 p, .col4 p {
      font-size: 13px;
    }
  }
  section.fifth_section .container {
    margin-bottom: 15px;
  }
  .all_isotop_container ul li {
    font-size: 12px;
  }
  section.sixth_section .container .play_video img {
    width: 70px;
  }
  section.eighth_section .container .wrapper {
    h1 {
      font-size: 25px;
    }
    h6 {
      font-size: 12px;
    }
  }
  section.ninth_section .container {
    padding-bottom: 80px;
    .page1 {
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
      h6 {
        font-size: 11px;
      }
      .read_more:after {
        border: 5px solid transparent;
        border-left: 5px solid #c7b199;
        left: 65px;
      }
    }
  }
  section.tenth_section {
      display: none;
  }
  section.eleventh_section .container {
    .wrapper11_1, .wrapper11_2, .wrapper11_3, .wrapper11_4 {
      padding-left: 0;
    }
  }
  section.eleventh_section .container .general_wrapper {
    p {
      font-size: 13px;
    }
    h5 {
      font-size: 12px;
    }
    .wrapper11_1 .read_more11:after {
      border: 5px solid transparent;
      border-left: 5px solid #c7b199;
      left: 72px;
    }
    h3 {
      font-size: 18px;
    }
    h6 {
      font-size: 11px;
    }
  }
  footer .container {
    font-size: 11px;
  }
}

@media (max-width: 579px) {
  .all_isotop_container ul li:last-child {
    margin-top: 10px;
  }
}